
@{
    ViewBag.Title = "Sobre";
}

<div class="center-block container">
	<h2 class="row">Sobre Mim</h2>

	<div class="row">
		<img src="~/Content/Images/Eu.jpg" class="img-circle col-sm-6" style="max-width: 15%" />

		<p class="col-sm-5 text-center" style="margin-top: 10px">
			Meu nome é João Victor, sou um programador a cerca de 6 anos, tendo tido experiências com uma diversidade de aplicações e projetos diversos para clientes individuais e empresariais.

			Idade: 20
			Resido em: Manhuaçu/Luisburgo - MG
			Email de contato: joaovitorsl2012@hotmail.com - jv.dev@outlook.com
		</p>
	</div>
</div>